# OSX
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Build generated
build/
DerivedData/

*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Android/IntelliJ
.idea
.gradle
local.properties
*.iml

# user personal info,for example debug info
ios/frankly.xcodeproj/project.xcworkspace/
ios/frankly.xcodeproj/xcuserdata

# Podfile versions
ios/Pods/
ios/Podfile.lock

# node.js
node_modules/*

# Date Picker Related
!node_modules/react-native/
node_modules/react-native/*

!node_modules/react-native/Libraries/
node_modules/react-native/Libraries/*

!node_modules/react-native/Libraries/Components/
node_modules/react-native/Libraries/Components/*

!node_modules/react-native/Libraries/Components/DatePicker/

!node_modules/react-native/React/
node_modules/react-native/React/*

!node_modules/react-native/React/Views/
node_modules/react-native/React/Views/*

!node_modules/react-native/React/Views/RCTDatePickerManager.m

# Fetch Polyfill Related
!node_modules/react-native-fetch-polyfill/

npm-debug.log
yarn-error.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle
